.navbar {
  background-color: var(--bg-green); /* Fondo claro */
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  gap: 5rem; /* Incrementar el espacio entre tarjetas */
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #87c947; /* Fondo verde relacionado al control de plagas */
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.card p {
  font-size: 0.9rem;
}

.welcome-header {
  position: absolute;
  top: 6rem;
  left: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #004122; /* Verde oscuro */
}